/node_modules/
/node_modules/*
/sprites/AK/*/*
/sprites/Baseball/*/*
/sprites/Fists/*/*
/sprites/Flame/*/*
/sprites/glock/*/*
/sprites/hammer/*/*
/sprites/rifle/*/*
/sprites/katana/*/*
/sprites/chaingun.fire/*
/sprites/chaingun.standing/*
/sprites/chaingun.walk/*
/sprites/AK/*/*
/sprites/AK/*/*
/sprites/AK/*/*
/sprites/walk/*/*
/sprites/icons/*
/sprites/maps/*/*